/*============================

Universal Styling

*=========================*/
* {
  padding: 0;
  margin: 0;
  border:0;
  font-family: 'Karla', sans-serif;
}

@font-face {
  font-family: 'Didot_Regular';
  src: url('../Fonts/Didot_Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Didot_Medium';
  src: url('../Fonts/Didot_Medium.ttf')
  format('truetype');
}

p {
  color: #534836;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
li{
  color: #534836;

}

main {
  background: #f7e5db;
  width: 100%;
  position: relative;
}

/*============================

Header Styling

*=========================*/
header {
  background: #c79783;
}

header img {
  display: block;
  max-width: 400px;
  margin: auto;
  padding-bottom: 10px;
}

header nav {
  min-width: 600px;
  text-align: right;
  padding: 15px 15px 0px;
}

nav ul li {
  display: inline;
}

header nav a {
  text-decoration: none;
  color: #534836;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Didot_Regular';
  font-size: 27px;
  transition: .3s;
}

header nav a:hover {
  color: #f7e5db;
  transition: .3s;
}

header .homepage{
  opacity: 0.5;
}

/*============================

Homepage Styling

*=========================*/
.home_top {
  height: 800px;
  width: auto;
}

.home_top img{
  width: 100%;
  max-height: 1000px;
}

.home_bottom{
  padding-bottom: 200px;
  width: 1000px;
  margin: auto;
}

.home_bottom img{
  float: left;
  padding: 0 30px;
  width: 400px;
  height: auto;
}
.home_text{
  width: 1000px;
  line-height: 25px;
}

.home_text h1{
  font-family: "Didot_Regular";
  font-size: 30px;
  padding: 35px 0 5px;
}
.home_text h2{
  font-family: "Didot_Medium";
  font-size: 20px;
  padding: 10px 0 5px;
}

.home_text ul{
  list-style-type: circle;
  list-style-position: inside;
  line-height: 20px;
  padding: 0;
}

/*============================

Headshot page Styling

*=========================*/
.headshot_row {
  width: 850px;
  margin: auto;
}
.headshot_row img {
  height: auto;
  width: 250px;
  display: inline;
  padding: 20px 10px 0;
  margin: auto;
  opacity: 0.75;
  transition: .3s;
}

.headshot_row img:hover {
  opacity: 1.0;
  transition: .3s;
}

.last{
  padding-bottom: 20px;
}
/*============================

  Footer Styling

*=========================*/

footer {
  background: #c79783;
  color: #534836;
  height: 120px;
}

footer h3 {
  font-family: "Didot_Regular";
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

footer .icons {
  text-align: center;
  font-size: 45px;
  padding: 10px 10px;
}

footer .fa-envelope,
footer .fa-instagram {
  color: #534836;
  transition: .3s;
}

footer .fa-envelope:hover,
footer .fa-instagram:hover {
  color: #f7e5db;
  transition: .3s;
}

footer a:visited {
  color: #534836;
  text-decoration: none;
}

footer h3::selection {
  color: #f7e5db;
}
