/*============================

Universal Styling

*=========================*/
* {
  padding: 0;
  margin: 0;
  border:0;
  font-family: 'Karla', sans-serif;
}

@font-face {
  font-family: 'Didot_Regular';
  src: url('../Fonts/Didot_Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Didot_Medium';
  src: url('../Fonts/Didot_Medium.ttf')
  format('truetype');
}

p {
  color: #534836;
}

h1,
h2,
h3,
li{
  color: #534836;

}

main {
  background: #f7e5db;
  width: 100%;
  position: relative;
}

/*============================

Header Styling

*=========================*/
header {
  background: #c79783;
}

header img {
  display: block;
  max-width: 400px;
  margin: auto;
  padding-bottom: 10px;
}

header nav {
  min-width: 600px;
  text-align: right;
  padding: 15px 15px 15px;
}

nav ul li {
  display: inline;
}

header nav a {
  text-decoration: none;
  color: #534836;
  padding: 10px;
  margin: 10px;
  font-family: 'Didot_Regular';
  font-size: 27px;
  transition: .3s;
}

header nav a:hover {
  color: #f7e5db;
  transition: .3s;
}


/*============================

Opening a page Styling

*=========================*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

/*============================

Homepage Styling

*=========================*/

.home_logo img{
  position: absolute;
  min-width: 600px;
  margin: auto;
  display: block;
  top: 125px;
  left: 0;
  right: 0;
  z-index: 1;
}

.home_bottom{
  padding-bottom: 125px;
  padding-top: 50px;
  width: 1000px;
  margin: auto;
}

.home_bottom img{
  float: left;
  padding: 0 30px;
  width: 400px;
  height: auto;
}

.home_text{
  width: 1000px;
  line-height: 25px;
}

.home_text p{
  margin-bottom: 10px;
}

.home_text h1{
  font-family: "Didot_Regular";
  font-size: 30px;
  padding: 20px 0 5px;
  margin: 7px;
}
.home_text h2{
  font-family: "Didot_Medium";
  font-size: 20px;
  padding: 10px 0 5px;
}

.home_text ul{
  list-style-type: circle;
  list-style-position: inside;
  line-height: 20px;
  padding: 0;
  margin-bottom: 40px;
}

.home_text a{
  text-decoration: none;
  font-family: "Didot_Medium";
  border-radius: 8px;
  width: 40px;
  font-size: 25px;
  margin: auto;
  padding: 10px;
  background: #c79783;
  color: #f7e5db;
  border: 2px solid #534836;
  transition: .3s;
}

.home_text a:hover {
  color: #534836;
  transition: .3s;
}

/*============================

Headshot page Styling

*=========================*/
.headshot_row {
  width: 850px;
  margin: auto;
}
.headshot_row img {
  height: auto;
  width: 250px;
  display: inline;
  padding: 20px 10px 0;
  margin: auto;
  opacity: 0.85;
  transition: .3s;
}

.headshot_row img:hover {
  opacity: 1.0;
  transition: .3s;
}

.last{
  padding-bottom: 20px;
}

/*============================

Form Styling

*=========================*/
.contact {
  margin: auto;
  padding: 100px 100px 10px;
  width: 800px;
  height: 600px;
}

.contactimage img {
  float: left;
  width: 300px;
  padding: 0 40px 0 0;
}

.contact_Container {
  padding: 10px;
  position: relative;
  min-width: 700px;
  height: 500px;
}

.contact_form {
  max-width: 1000px;
}

.contact_container h1 {
  font-family: "Didot_Regular";
  color: #534836;
  font-size: 40px;
  line-height: 50px;
}

.contact_container p::selection,
.contact_container h1::selection {
  color: #c79783;
}

.contact_container p {
  color: #534836;
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  overflow: visible;
}

/*============================
Psuedo elements
*=========================*/
.contact_container p::selection,
.contact_container h1::selection {
  color: #c79783;
}


form label {
  color: #534836;
  font-size: 20px;
}

.label_input_wrap {
  display: block;
  padding-bottom: 5px;
}

.name,
.email,
.Message {
  margin-bottom: 15px;
}

input {
  padding: 10px 15px;
}

textarea {
  font-family: Karla;
  padding: 10px 15px;
}

.reset input,
.submit input {
  background: #c79783;
  color: #534836;
  font-family: "Didot_Regular";
  font-size: 20px;
  border-radius: 4px;
  padding: 5px 30px;
  margin-right: 15px;
  margin-top: 10px;
  transition: .3s;
}

.submit input:hover {
  color: #f7e5db;
  transition: .3s;
}

.reset input:hover {
  color: #f7e5db;
  transition: .3s;
}

.reset,
.submit {
  display: inline;
}

/*============================

  Footer Styling

*=========================*/

footer {
  background: #c79783;
  color: #534836;
  height: 120px;
}

footer h3 {
  font-family: "Didot_Regular";
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

footer .icons {
  text-align: center;
  font-size: 45px;
  padding: 10px 10px;
}

footer .fa-envelope,
footer .fa-instagram {
  color: #534836;
  transition: .3s;
}

footer .fa-envelope:hover,
footer .fa-instagram:hover {
  color: #f7e5db;
  transition: .3s;
}

footer a:visited {
  color: #534836;
  text-decoration: none;
}

footer h3::selection {
  color: #f7e5db;
}

/*============================

animation

*=========================*/
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}
